// out: ../css/forum_head.css
.forum_head{
    width: 1098px;
    height: 180px;
    position: relative;
    overflow: hidden;
    font-family:'Microsoft Yahei','Simsun';
    
    *{
        margin: 0;
        padding: 0;
    }
    
    &>.bg{
        width: 1098px;
        height: 180px;
        position: absolute;
    }
    .text{
        width: 1098px;
        height: 100px;
        position: absolute;
        top: 40px;
        
        &>.bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(32, 134, 195, 0.6);
        }
        &>.info{
            position: absolute;
            height: 100px;
            width: 700px;    
            text-align: center;
            margin-left: 40px;
            
            &>*:not(.clear){
                float: left;
            }
            *{
                position: relative;
            }
            
            .left{
                font-size: 44px;
                color: #fff;
                line-height: 100px;
                width: 340px;
            }
            .line{
                width: 2px;
                height: 80px;
                background: #fff;
                margin-top: 10px;
                
                &.rotate{
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg); 	/* IE 9 */
                    -moz-transform:rotate(90deg); 	/* Firefox */
                    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                    -o-transform:rotate(90deg); 	/* Opera */
                    
                    height: 200px;
                }
            }
            .right{
                color: #fff;
                margin-top: 15px;
                width: 350px;
                
                h1{
                    font-size: 36px;
                    margin: 0;
                    font-weight: normal;
                    
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .btn{
        width: 220px;
        height: 220px;
        position: absolute;
        top:-20px;
        right: -10px;
        cursor: pointer;
        text-align: center;
        color: #fff;
        
        img{
            width: 100%;
            height: 100%;
        }
        
        p{
            position: absolute;
            width: 100%;
            font-size: 32px;
            top: 40px;
            left: 0;
        }
        i{
            position: absolute;
            width: 100%;
            font-size: 66px;
            bottom: 44px;
            left: 0;
            font-style: normal;
        }
    }
    .topics{
        position: absolute;
        width: 100%;
        height: 100%;
        
        ul{
            
            li{
                
                a{
                    
                    i{
                        
                    }
                    span{
                        
                    }
                }
            }
        }
    }
}
.clear{
    clear: both;
}
// t9_1505190828


.t9_1503100930n{
    top: 10px;
    width: 80px;
    height: auto;
    img{
        width: 80px;
        height: auto;
    }
}
.t9_1503100935{
    padding-left: 120px;
}