@keyframes waveform {
  0% {
    transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  30% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes waveform {
  0% {
    transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  30% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes waveform {
  0% {
    transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  30% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes waveform {
  0% {
    transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  30% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg) scale(1.5);
    -ms-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -webkit-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    opacity: 0;
  }
}
.forum_head {
  width: 1098px;
  height: 180px;
  position: relative;
  overflow: hidden;
  font-family: 'Microsoft Yahei', 'Simsun';
}
.forum_head .bg.waveform {
  animation: waveform 3.8s cubic-bezier(0.3, 1.15, 1, 0.67) 2s infinite;
  -ms-animation: waveform 3.8s cubic-bezier(0.3, 1.15, 1, 0.67) 2s infinite;
  -moz-animation: waveform 3.8s cubic-bezier(0.3, 1.15, 1, 0.67) 2s infinite;
  -webkit-animation: waveform 3.8s cubic-bezier(0.3, 1.15, 1, 0.67) 2s infinite;
  -o-animation: waveform 3.8s cubic-bezier(0.3, 1.15, 1, 0.67) 2s infinite;
}
.forum_head * {
  margin: 0;
  padding: 0;
}
.forum_head > .bg {
  width: 1098px;
  height: 180px;
  position: absolute;
}
.forum_head .text {
  width: 1098px;
  height: 100px;
  position: absolute;
  top: 40px;
}
.forum_head .text > .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(32, 134, 195, 0.6);
}
.forum_head .text > .info {
  position: absolute;
  height: 100px;
  width: 700px;
  text-align: center;
  margin-left: 40px;
}
.forum_head .text > .info > *:not(.clear) {
  float: left;
}
.forum_head .text > .info * {
  position: relative;
}
.forum_head .text > .info .left {
  font-size: 44px;
  color: #fff;
  line-height: 100px;
  width: 340px;
}
.forum_head .text > .info .line {
  width: 2px;
  height: 80px;
  background: #fff;
  margin-top: 10px;
  transition: height, transform 0.8s;
  -moz-transition: height, transform 0.8s;
  -webkit-transition: height, transform 0.8s;
  -o-transition: height, transform 0.8s;
}
.forum_head .text > .info .line.rotate {
  height: 200px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.forum_head .text > .info .right {
  color: #fff;
  margin-top: 15px;
  width: 350px;
}
.forum_head .text > .info .right h1 {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}
.forum_head .text > .info .right a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.forum_head .btn {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  right: 20px;
}
.forum_head .btn > .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(32, 134, 195, 0.6);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.forum_head .btn > .bg.show {
  background: rgba(32, 134, 195, 0.8);
  transition: background 0.6s;
  -moz-transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
}
.forum_head .btn:hover .bg.show {
  background: rgba(50, 151, 212, 0.8);
}
.forum_head .btn img {
  width: 100%;
  height: 100%;
}
.forum_head .btn p {
  position: absolute;
  width: 100%;
  font-size: 32px;
  top: 20px;
  left: 0;
}
.forum_head .btn i {
  position: absolute;
  width: 100%;
  font-size: 66px;
  bottom: 20px;
  left: 0;
  font-style: normal;
}
.forum_head .topics {
  position: absolute;
  width: 100%;
  height: 100%;
}
.forum_head .topics ul {
  margin: 15px 10px 20px 160px;
}
.forum_head .topics ul li {
  float: left;
  display: block;
  padding: 10px;
  transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  -webkit-transform: translateX(1000px);
  -o-transform: translateX(1000px);
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
}
.forum_head .topics ul li.show {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
}
.forum_head .topics ul li:hover i {
  border: 2px solid #C8D866;
}
.forum_head .topics ul li:hover span {
  border: 2px solid #C8D866;
}
.forum_head .topics ul li a i {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  font-style: normal;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.6);
  float: left;
  list-style: none;
  position: relative;
  transition: border 0.4s;
  -moz-transition: border 0.4s;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
}
.forum_head .topics ul li a i img {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 70px;
  height: 70px;
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
}
.forum_head .topics ul li a i img.hide {
  opacity: 0;
}
.forum_head .topics ul li a span {
  background: rgba(26, 138, 206, 0.8);
  display: block;
  float: left;
  height: 20px;
  padding: 10px;
  padding-left: 35px;
  margin-left: -20px;
  margin-top: 5px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.4);
  line-height: 18px;
  font-size: 16px;
  transition: border 0.4s;
  -moz-transition: border 0.4s;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
}
.forum_head .topics ul li a b {
  clear: both;
}
.forum_head .topics ul li.space {
  height: 50px;
  width: 180px;
}
.clear {
  clear: both;
  float: none;
}
.t9_1503100930n {
  top: 10px;
  width: 80px;
  height: auto;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.t9_1503100930n img {
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  width: 100%;
  height: auto;
}
.t9_1503100935 {
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  padding-left: 120px;
}

/*# sourceMappingURL=../maps/forum_head.css.map */
